<h1>Editing Recovered Gun</h1>
<h3>Please note the only edits that can be made are to enter previously blank fields.</h3>

<%= render 'form', recovered_gun: @recovered_gun %>

<%#= link_to 'View', @recovered_gun %> 
<%= link_to 'Go Back Without Saving', recovered_guns_path %>
