<h1>Editing Parking Citation</h1>

<%= render 'form', parking_citation: @parking_citation %>

<%#= link_to 'Show', @parking_citation %>  
<%= link_to 'Go Back Without Saving', parking_citations_path %>
