<h1>Editing Recovered Vehicle</h1>
<h3>Please note the only edits that can be made are to enter previously blank fields.</h3>

<%= render 'form', recovered_vehicle: @recovered_vehicle %>

<%= link_to 'View', @recovered_vehicle %> |
<%= link_to 'Back', recovered_vehicles_path %>
