<h1>Editing Missing Person</h1>
<h3>Please note the only edits that can be made are to enter previously blank fields.</h3>

<%= render 'form', missing_person: @missing_person %>

<%#= link_to 'View', @missing_person %> 
<%= link_to 'Go Back Without Saving', missing_people_path %>
