<h1>Editing Stolen Vehicle</h1>
<h3>Please note the only edits that can be made are to enter previously blank fields.</h3>

<%= render 'form', stolen_vehicle: @stolen_vehicle %>

<%= link_to 'Show', @stolen_vehicle %> |
<%= link_to 'Back', stolen_vehicles_path %>
