<html>
<h1 style="text-align: center;"><%= link_to '🚓NCIC🚨LOG🚓', '/pages/main' %></h1>
<h3 style="text-align: center;"><%= link_to 'For All Your Logging Needs!', '/pages/main' %></h3>
<p style="text-align: center;">This was created of a few days while I was learning Rails.</p>
<h3 style="text-align: center;">

<p style="text-align: center;">v1.7 2018</p>

</html>
