<html>
<h1 style="text-align: center;"><%= link_to '💥HPD 💣 LOG💥', '/pages/menu', class: "invisLink"  %></h1>
<h3 style="text-align: center;"><%= link_to 'For All Your Logging Needs!', '/pages/menu', class: "invisLink"  %></h3>
<p style="text-align: center;">This was created of a few days while I was learning Rails.</p>
<p style="text-align: center;">Here is a fun picture for you to enjoy.</p>
<%  
    i = ["asst.png","fancy.png","log.png","patch.png","shoulder.png","tooth.png","thanks.png","preacher.png","jonah.gif","dogsmile.gif","monkeypute.gif"]
    r = Random.new
    r = r.rand(i.length)
    i = i[r]
%>

<h3 style="text-align: center;"><%=image_tag( i ,class: 'image' )%></h3>
<p style="text-align: center;">If you have an issue, contact <a href="mailto:csexton@hickorync.gov">📧csexton@hickorync.gov</a>.</p>
<p style="text-align: center;"><%= link_to '💩v2.1 2018', '/pages/menu' , class: "invisLink" %></p>

</html>
