<html>
<h1 style="text-align: center;">NCIC LOG</h1>
<p style="text-align: center;"> <a href= "http://ncic:3000/pages/about"><%=image_tag("fancy.png")%> </a></p>
<h2 style="text-align: center;">For All of Your Logging Needs!</h2>
<p style="text-align: center;">Please be careful during entry, as you will not be able to modify data after it has been submitted.</p>

<h1 style="text-align: center;"><%= link_to 'Click Here to Proceed to the Main Menu', '/pages/about' %></p>

<p style="text-align: center;">If you have an issue, contact <a href="mailto:csexton@hickorync.gov">csexton@hickorync.gov</a>.</p>
<p style="text-align: center;">&nbsp;</p>
</html>