<h1>Editing Wanted Person</h1>
<h3>Please note the only edits that can be made are to enter previously blank fields.</h3>

<%= render 'form', wanted_person: @wanted_person %>

<%= link_to 'View', @wanted_person %> |
<%= link_to 'Back', wanted_people_path %>
