<h1>Editing License Plate</h1>
<h3>Please note the only edits that can be made are to enter previously blank fields.</h3>

<%= render 'form', license_plate: @license_plate %>

<%= link_to 'Show', @license_plate %> |
<%= link_to 'Back', license_plates_path %>
