<h1>Editing Vehicle Boat Part</h1>
<h3>Please note the only edits that can be made are to enter previously blank fields.</h3>

<%= render 'form', vehicle_boat_part: @vehicle_boat_part %>

<%= link_to 'View', @vehicle_boat_part %> |
<%= link_to 'Back', vehicle_boat_parts_path %>
