<h1>Editing Boat</h1>
<h3>Please note the only edits that can be made are to enter previously blank fields.</h3>

<%= render 'form', boat: @boat %>

<%#= link_to 'View', @boat %> 
<%= link_to 'Go Back Without Saving', boats_path %>
