<h1>Editing Warning Citation</h1>

<%= render 'form', warning_citation: @warning_citation %>

<%#= link_to 'Show', @warning_citation %>  
<%= link_to 'Go Back Without Saving', warning_citations_path %>
